.btn.disabled {
  cursor: default !important;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 24px;
}

.error {
  color: red;
  font-weight: bold;
}

.cost {
  font-size: 2rem;
}
.unit {
  font-size: 1rem;;
}

table {
  width: 100%;
}

table tbody tr {
  border-top: dashed 1px #CCC;
}

/* .splash {
  position: fixed;
  z-index: 1000000000;
  width: 100%;
  height: 100%;
  background-color: #99BBff;
}

.splash-content {
  position: absolute;
  width: calc(100vmin - 200px);
  height: calc(100vmin - 200px);
  background-color: #FFFFFF;
  border-radius: 50%;
} */

/* .centering {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
} */