.btn.disabled {
  cursor: default !important;
}

.error {
  color: red;
  font-weight: bold;
}

.lastItemCost {
  border-bottom: solid 1px;
}

.cost {
  font-size: 4rem;
}
.unit {
  font-size: 2.5rem;;
}