.btn.disabled {
  cursor: default !important;
}

body {
  font-size: 24px;
}

.error {
  color: red;
  font-weight: bold;
}

.lastItemCost {
  border-bottom: solid 1px;
}

.cost {
  font-size: 2rem;
}
.unit {
  font-size: 1rem;;
}